*{
  font-family: 'Poppins', sans-serif;
}

span{
  font-weight: bolder;
  font-size: 16px
   }

   .nav-links ul{
    display: inline-block;
  }
  
  .nav-links a{
    color: white;
  }

.button-img {
  margin-bottom: 20px;
}
.App {
  text-align: center;
}

.img-poster {
  width:  100%;
  height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
}

.card-box {
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
  background-color: rgba(238, 80, 106, 0.336);
  transition: 0.3s;
  flex-direction: row;
  justify-content: center;
  font-size: small;
  padding: 8px;
  float: left;
  width: 20%;
  height: 650px;
  
}

.form-box {
  margin: 25px auto;
  flex-direction: column;
  width: 30%;
  max-width: 600px;
  display: flex;
}

.back-button {
  margin-top: 25px;
}

.nav-header {
  padding: 10px;
  background: rgba(124, 8, 28, 0.705);
  color: rgb(0, 0, 0);
  font-size: 30px;
}